<div class="container">
 <h3 class="table-primary d-inline-flex pl-5 pr-5 mt-5">商品一覧</h3>
  <div class="row">
   <div class="col">
    <table class="table table-borderless">
     <tr class="table-primary">
      <th>商品ID</th>
       <th>商品名</th>
        <th class="text-right">税抜き価格</th>
       <th>GENLE</th>
      <th class="text-right">STATUS</th>
     </tr>

    <% @items.each do |item| %>
     <tr>
      <td><%= item.id %></td>
       <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.without_tax_price %></td>
       <td><%= item.jenre.name %></td>
      <td><%= item.is_sale ? "販売中" : "販売停止中" %></td>
     </tr>
    <% end %>
   </table>
  </div>
 </div>
</div>

<%= paginate @items %>
