<div class="container text-left">
  <div class="row">
    <div class="col-md-3 p-3 mt-4">
      <table class="table table-hover table-inverse">
      <h6 class="mb-4"><strong>♦ ネックレス＆ブレスレット ♦</strong></h6>
        <ul>

          <li class="mb-4">
            <%= link_to items_path,class: 'text-dark' do %><  全商品一覧
              <% end %>
                </li>

                  <% genres.each do |genre| %>

                <li class="mb-4">

              <%= link_to genre_path(genre),class: 'text-dark' do %>
            < <%= genre.name %>
          <% end %>
        </li>
      <% end %>

                <li class="mb-4">
            <%= link_to bookmarks_path,class: 'text-dark' do %><  お気に入り一覧  ♥
              <% end %>
                </li>

      <li class="mr-3">
        <%= link_to destroy_customer_session_path, method: :delete,class: 'text-danger' do %>< ログアウト
        <% end %>
      </li>
    </ul>
  </table>
</div>