<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'genre_search', genres: @genres %>
    </div>
<!--<div class="row">-->
    <div class="col-sm-9 my-3">
      <h5 class="font-weight-bold text-center mt-3 mb-5">◆ 商品一覧 ◆</h5>

      <div class="row">
        <% @item.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class="col-md-6 col-lg-4">
            <div class="card" style="max-width:300px;">
  		        <div class="card-header p-3" style="background-color: #f9f9ff">
  		          <div style="height:180px;">
  		            <% if item.image.attached? %>
  		              <%= image_tag item.image.variant(gravity: :center, resize:"480x480", crop:"300x300+0+0").processed, class: "img-fluid" %>
  		            <% else %>
  		              no-image
  		            <% end %>
  		            <% end %>
  		          </div>
  		          <div class="text-center card-title mt-4" style="height:50px;"><%= item.name %></div>
  		          <h5 class="text-left" style="color:#ea5550;"><strong>￥<%= item.without_tax_price.to_s(:delimited, delimiter: ',') %></strong></h5>
  		        </div>
  		      </div>
		      </div>
        <% end %>
      </div>
      <div class="px-5 px-sm-0 mt-4 mx-auto"><%= paginate @item %></div>
 	  </div>
  </div>
</div>