<%= render 'genre_search', genres: @genres %>

  <div class="row">
    <div class="col-sm p-3 mt-4">

      <%= image_tag @item.get_image, size: '400x350' %>

       <%#レビュー機能%>

         <div class="mt-5">
          <h5><strong>評価</strong></h5>
            <% if @review.errors.present? %>
              <% @review.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
                  <% end %>
                    <% end %>


                      <%= form_with model: [@item , @review] do |f| %>

                        <div class="col-md-6 col-md-offset-3">
                          <div class="field mb-3" id="star">
                            </div>

                               <%= f.text_area :comment, placeholder: "コメントをここに" %><br>

                                <%= f.submit "レビュー評価", :class => "btn btn-primary" %>
                                  </div>

                                    <% end %>

                                    <script>
                                  raty(document.querySelector("#star"), {
                                size: 36,
                              starOff: '<%= asset_path('star-off.png') %>',
                            starOn: '<%= asset_path('star-on.png') %>',
                          scoreName: 'review[all_rating]'
                         });
                      </script>

                    <%= render partial: "user/items/show_rate", locals: { item: @item, reviews: @reviews, all_rating: @all_rating } %>
                    <% @item.reviews.each do |review| %>
                    
                    <%= review.comment %>
                    <% end %>
                  </div>
                </div>

                <div class="col-sm p-3 mt-4">
                  <h4 class="font-weight-bold mb-4"><%= @item.name %></h4>
                    <h5><%=safe_join(@item.explanation.split("\n"),tag(:br))%></h5>
                      <div class="mt-4">
                        <h5>¥ <%= @item.without_tax_price.to_s(:delimited, delimiter: ',') %> (税込)</h5>
                          </div>

                            <%#お気に入り機能%>
	                            <tr>
                                <% if @item.bookmarked_by?(current_customer) %>

                                  <h3 class="text-red"><%= link_to "♥", item_bookmark_path(item_id: @item), method: :delete %></h3>
                                    <% else %>
                                  <h3><%= link_to "♡", item_bookmark_path(item_id: @item), method: :post %></h3>
                                <% end %>
                              </tr>

                            <%# カート機能 %>
                              <%= form_for @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
                                <%= f.hidden_field :item_id, :value => @item.id %>
                                  <div class="mt-3">
                                    数量            <%= f.select :quantity, *[1..10] %><br>

                                    <tr>
                                  <% if customer_signed_in? %>

	                              <h5 class="mt-3"><%= f.submit "カートに入れる", class:'btn btn-primary'%></h5>
	                            <% else %>
	                          <button type="button" class="btn btn-success btn-lg" disabled>カートに入れる</button>
	                        </tr>


	                  <div class="text-danger">ログインして下さい</div>
	                <% end %>
	              </div>
	            <% end %>

	          </div>
          </div>