<div class='container'>
<h5 class="table-dark text-light d-inline-flex offset-sm-0 pt-2 pb-2 pl-4 pr-4 mt-5">会員登録がお済みでない方</h5>
 <div class='row mt-4'>
  <div class="col-sm-5 px-sm-0 offset-sm-1">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
    <table class="table table-borderless mt-2">

     <%= render "user/shared/links" %>

    <tr>
      <h5><%= f.label :'メールアドレス', class: 'text-right' %></h5>
      <h5><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'ネーム', class: 'mt-3'%></h5>
      <h5>(姓) <%= f.text_field :first_name, autofocus: true, class: "name", class: "form-control name" %>
       (名) <%= f.text_field :last_name, autofocus: true, class: "name", class: "form-control name" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'フリガナ', class: 'mt-3'%></h5>
      <h5>(セイ) <%= f.text_field :first_name_kana, autofocus: true, class: "name", class: "form-control name" %>
       (メイ) <%= f.text_field :last_name_kana, autofocus: true, class: "name", class: "form-control name" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'郵便番号', class: 'mt-3' %></h5>
      <h5><%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: "form-control post_code" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'住所', class: 'mt-3' %></h5>
      <h5><%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control address" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'電話番号', class: 'mt-3' %></h5>
      <h5><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control phone_number" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'パスワード', class: 'mt-3' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      </h5>
      <h5><%= f.password_field :password, autocomplete: "new-password", class: "form-control new-password" %></h5>
    </tr>

    <tr>
      <h5><%= f.label :'パスワード(確認用)', class: 'mt-3' %></h5>
      <h5><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control new-password" %></h5>
    </tr>

    <tr>
      <th><%= f.submit "同意して次へ", class:'btn btn-dark' %></th>
    </tr>
   </table>
   <% end %>
