<div class='container'>
<h5 class="text-center offset-sm-0 pt-2 pb-2 pl-4 pr-4 mt-5 mb-5">◆ <strong>会員登録がお済みでない方</strong> ◆</h5>
 <div class='row mt-4'>
  <div class="col-sm-9 px-sm-2 offset-sm-1">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
    <table class="table table-borderless mt-2">

     <%= render "user/shared/links" %>

    <tr>
      <td><%= f.label :'メールアドレス', class: 'text-right' %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email" %></td>
    </tr>

    <tr>
      <td><%= f.label :'ネーム', class: 'mt-2'%></td>
      <td>(姓) <%= f.text_field :first_name, autofocus: true, class: "name", class: "form-control name" %></td>
      <td>(名) <%= f.text_field :last_name, autofocus: true, class: "name", class: "form-control name" %></td>
    </tr>

    <tr>
      <td><%= f.label :'フリガナ', class: 'mt-2'%></h5>
      <td>(セイ) <%= f.text_field :first_name_kana, autofocus: true, class: "name", class: "form-control name" %></td>
      <td>(メイ) <%= f.text_field :last_name_kana, autofocus: true, class: "name", class: "form-control name" %></td>
    </tr>

    <tr>
      <td><%= f.label :'郵便番号', class: 'mt-2' %></td>
      <td><%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: "form-control post_code " %></td>
    </tr>

    <tr>
      <td><%= f.label :'住所', class: 'mt-2' %></td>
      <td><%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control address" %></td>
    </tr>

    <tr>
      <td><%= f.label :'電話番号', class: 'mt-2' %></td>
      <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control phone_number" %></td>
    </tr>

    <tr>
      <td><%= f.label :'パスワード', class: 'mt-2' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      </td>
      <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control new-password" %></td>
    </tr>

    <tr>
      <td><%= f.label :'パスワード(確認用)', class: 'mt-2' %></td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control new-password" %></td>
    </tr>

    <tr>
      <th><%= f.submit "同意して次へ", class:'btn btn-primary' %></th>
    </tr>
   </table>
   <% end %>
