<div class="container">
  <div class="row">
    <h5 class="table text-center pl-5 pr-5 mt-5 mb-5">◆ 会員一覧 ◆</h5>
      <table class="table table-bordered">
          <tr>
            <th class="table-warning  border-dark">会員ID</th>
              <th class="table-warning  border-dark">氏名</th>
              <th class="table-warning  border-dark">メールアドレス</th>
            <th class="table-warning  border-dark">ステータス</th>
          </tr>

          <% @customers.each do |customer| %>
            <tr>
              <td class="border-dark" style="background-color: #f9ffff;"><%= customer.id %></td>
                <td class="border-dark" style="background-color: #f9ffff;"><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
                <td class="border-dark" style="background-color: #f9ffff;"><%= customer.email %></td>
              <td class="border-dark" style="background-color: #f9ffff;"><%= customer.customer_status %></td>
            </tr>
          <% end %>
        <div class="text-center"><%= paginate @customers %></div>
      </table>
    </div>
  </div>