<div class='container'>
    <div class='row mt-2'>
      <div class="col-1"></div>
      <div class="col-sm-7 px-sm-2 offset-sm-2">
        <h4 class="text-center pl-5 pr-5 mt-5 mb-5 mr-5">◆ 会員情報編集 ◆</h4>

        <%= form_with model: @customer, url:customers_information_path(@customer), local:true do |f| %>
          <table class="table table-borderless">

            <tr>
              <th>氏名</th>
              <td><%= f.text_field :full_name,class: "form-control full_name" %></td>
            </tr>


            <tr>
              <th>フリガナ</th>
              <th><%= f.text_field :full_name_kana,class: "form-control full_name_kana" %></th>
            </tr>

            <tr>
              <th>郵便番号</th>
              <th><%= f.text_field :post_code,class: "form-control post_code" %></th>
            </tr>

            <tr>
              <th>住所</th>
              <th><%= f.text_field :address,class: "form-control address" %></th>
            </tr>

            <tr>
              <th>電話番号</th>
              <th><%= f.text_field :phone_number,class: "form-control phone_number" %><th>
            </tr>

            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email,class: "form-control email" %></th>
            </tr>

            <tr>
              <td><%= f.submit "編集内容を保存", class:"btn btn-primary" %></td>
            <tr>
              <% end %>
           </table>
        </div>
    </div>
</div>