<div class='container'>

<div class='row mt-4'>
<div class="col-2"></div>
<div class="col-sm-8 px-sm-0">
  <h5 class="text-center mt-3 mb-5">◆ マイページ ◆</h5>
<div class="mb-4">登録情報　<%= link_to "編集する", customers_information_edit_path(current_customer), class: "btn btn-primary" %></th></div>

<table class="table table-bordered">
  <tr>
    <th class="border-dark table-warning text-left ml-5">氏名</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.first_name %> <%= @customer.last_name %></td>
  </tr>

  <tr>
    <th class="border-dark table-warning text-left ml-5">カナ</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
  </tr>

  <tr>
    <th class="border-dark table-warning text-left ml-5">郵便番号</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.post_code %><td>
  </tr>

  <tr>
    <th class="border-dark table-warning text-left ml-5">住所</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.address %><td>
  </tr>

  <tr>
    <th class="border-dark table-warning text-left ml-5">電話番号</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.phone_number %><td>
  </tr>

  <tr>
    <th class="border-dark table-warning text-left ml-5">メールアドレス</th>
    <td class="border border-dark" style="background-color: #f9ffff;"><%= @customer.email %></td>
  </tr>
</table>

<div class="font-weight-bold mt-4 my-3">配送先　　<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></div>
<div class="font-weight-bold mb-5">注文履歴　<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></div>

</div>
</div>
</div>