<div class="container text-left">
  <h5 class="mb-5 text-center">◆ お気に入り一覧 ◆</h5>
    <div class="row">

          <% @bookmarks.each do |bookmark| %>
           <div class="card" style="width: 315px;">

               <div class="card-header p-3" style="background-color: #f9f9ff"><%= image_tag bookmark.item.get_image, size: '280x250' %>

                <%#お気に入り機能%>
                   <% if bookmark.item.bookmarked_by?(current_customer) %>
                     <div class="card-body">

                     <h3><%= link_to "♥", item_bookmark_path(item_id: bookmark.item), method: :delete %></h3>
                   <% else %>
                     <h3><%= link_to "♡", item_bookmark_path(item_id: bookmark.item), method: :post %></h3>
                   <% end %>
                     <div class="text-center card-title mt-3"><%= bookmark.item.name %></div>
                     <h5 class="text-left">¥<%= bookmark.item.without_tax_price.to_s(:delimited, delimiter: ',') %>(税込)</h5>
                   <% end %>
               </div>
          </div>
     </div>
</div>