<div class="container text-left mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
    <h4 class="font-weight-bold text-center mr-5 mt-5 mb-5">◆ お気に入り一覧 ◆</h4>

    <div class="mb-5 ml-5 row">
    <% @bookmarks.each do |bookmark| %>

     <div class="col-md-6 col-lg-4">
     <%= link_to item_path(bookmark.item.id) do %>

      <div class="card mr-3 mb-5" style="width: 285px;">
        <div class="card-header p-3" style="background-color: #ffffff"><%= image_tag bookmark.item.get_image, size: '250x250' %>

            <%#お気に入り機能%>
             <% if bookmark.item.bookmarked_by?(current_customer) %>

               <h3><%= link_to "♥", item_bookmark_path(item_id: bookmark.item), method: :delete %></h3>
             <% else %>
               <h3><%= link_to "♡", item_bookmark_path(item_id: bookmark.item), method: :post %></h3>
             <% end %>
             <h5 class="text-left" style="color:#ea5550;">¥<%= bookmark.item.without_tax_price.to_s(:delimited, delimiter: ',') %></h5>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
