<div class="container">
 <div class="row">
  <div class="col-7">
    <table class="table table-borderless">
     <h5 class="table text-center pl-5 pr-5 mt-5"><strong>◆  注文履歴詳細  ◆</strong></h5>

     <tr>
      <th class="border border-dark table-warning text-left">購入者</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= link_to @order.customer.full_name, admin_customer_path(@order.customer.id) %></th>
     </tr>

     <tr>
      <th class="border border-dark table-warning text-left">注文日</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @order.created_at.strftime('%Y/%m/%d') %></th>
     </tr>

     <tr>
      <th class="border border-dark table-warning text-left">配送先</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @order.customer.address %></th>
     </tr>

     <tr>
      <th class="border border-dark table-warning text-left">支払い方法</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @order.payment_method_i18n %></th>
     </tr>

     <tr>
      <th class="border border-dark table-warning text-left">注文ステータス</th>
　    <%= form_with model: @order, url:admin_order_path, local:true do |f| %>

      <th class="border border-dark" style="background-color: #f9ffff;">
        <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
        <%= f.submit "更新",class: "btn btn-success" %>
　      <% end %>
　    </th>
     </tr>

    </table>
   </div>
 </div>

<div class="row">
  <div class="col-xs-4">
    <table class="table table-bordered border-dark ml-3 mt-5 mb-5">
     <tr>
      <th class="border border-dark table-warning text-left">商品ID</th>
      <th class="border border-dark table-warning text-left">単価(税込)</th>
      <th class="border border-dark table-warning text-left">数量</th>
      <th class="border border-dark table-warning text-left">小計</th>
      <th class="border border-dark table-warning text-left">製作ステータス</th>
      <th class="border border-dark table-warning text-left"></th>
     </tr>

     <% @order_items.each do |order_item| %>
     <tr>
      <td class="border border-dark" style="background-color: #f9ffff;"><%= order_item.item.name %></td>
      <td class="border border-dark" style="background-color: #f9ffff;"><%= order_item.item.add_tax_sales_price %></td>
      <td class="border border-dark" style="background-color: #f9ffff;"><%= order_item.quantity %></td>
      <td class="border border-dark" style="background-color: #f9ffff;"><%= order_item.item.add_tax_sales_price*order_item.quantity %></td>
      <%= form_with model: order_item, url:admin_orders_detail_path(order_item), local:true do |f| %>
      <td class="border border-dark" style="background-color: #f9ffff;"><%= f.select :making_status, OrderItem.making_statuses_i18n.keys.map{|k| [I18n.t("enums.order_item.making_status.#{k}"), k]} %></td>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= f.submit "更新",class: "btn btn-success" %></th>
     </tr>
     <% end %>
     <% end %>
    </table>
  </div>
  
  <div class="col-3 mt-5 ml-5">
    <table class="table table-borderless mt-4">
     <tr>
      <th class="border border-dark table-warning text-left">商品合計</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @order.total_price %>円</th>
     </tr>

     <tr>
      <th class="border border-dark table-warning text-left">送料</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @shipping_fee %>円</th>
     </tr>
     <tr>
      <th class="border border-dark table-warning text-left">請求金額合計</th>
      <th class="border border-dark" style="background-color: #f9ffff;"><%= @order.total_price + @shipping_fee %>円</th>
     </tr>
    </table>
  </div>
 </div>
</div>