<div class='container'>
<div class='row mt-4'>
<div class="col-sm-4 px-sm-0 mr-5">
<h4 class="text-center mt-2 mb-4">◆ 配送先一覧 ◆</h4>

<%= form_with model: @address, url:"/addresses", local:true do |f| %>

<table class="table table-borderless">

<thead>
  <tr>
    <td>
    <h5>郵便番号</h5>
    <h5 class="mb-3"><%= f.text_field :post_code, class: "form-control post_code" %></h5>
    </td>
  </tr>

  <tr>
    <td>
    <h5>住所</h5>
    <h5 class="mb-3"><%= f.text_field :address, class: "form-control address" %></h5>
    </td>
  </tr>

  <tr>
    <td>
    <h5>氏名</h5>
    <h5><%= f.text_field :name, class: "form-control name" %></h5>
    </td>
  </tr>

  <tr>
    <td>
    <h3><%= f.submit "配送先登録", class:'btn btn-primary mt-3' %></h3>
    </td>
  </tr>
</thead>
</table>
<% end %>

</div>

  <div class="col mt-5">
  <table class="table table-bordered">
      <tr class="table-warning">
      <td class="border border-dark"><strong>郵便番号</strong></td>
      <td class="border border-dark"><strong>住所</strong></td>
      <td class="border border-dark"><strong>氏名</strong></td>
      <td class="border border-dark"></td>
      </tr>
    <% @addresses.each do |addresses| %>
    <tr>
      <td class="border border-dark"><%= addresses.post_code %></td>
      <td class="border border-dark"><%= addresses.address %></td>
      <td class="border border-dark"><%= addresses.name %></td>

       <td class="text-center border border-dark"><%= link_to "編集", edit_address_path(addresses.id), class: "btn btn-primary mr-4" %>
       <%= link_to "削除", address_path(addresses.id), method: :delete, class:'btn btn-danger' %></td>
    </tr>
   <% end %>
  </table>
</div>
</div>
</div>






