<header>
      <a href="/" class="navbar-brand text-dark" style="width: 100%; text-align-last: center; font-size: xxx-large;">ℛ.ℛ</a>
      <h6 class="text-center">◆RIRE.RORIS◆</h6>

  <nav class="navbar navbar-expand-lg navbar-dark p-4" style="background-color: #efe0ff;">
    <div class="container-md">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


        <% if customer_signed_in? %>

          <li class="text-red mr-3">
            <h5><%= link_to items_path,class: 'nav-link text-dark' do %><strong>ＡＬＬ</strong></h5>
            <% end %>
          </li>

          <li class="mr-4">
            <%= link_to bookmarks_path,class: 'nav-link text-dark' do %>
            <h4 class="fa-solid fa-heart text-danger" aria-hidden="true"></h4>
            <% end %>
          </li>

          <li class="mr-4">
            <%= link_to  customers_mypage_path,class: 'nav-link text-dark' do %>
            <h4 class="fa-solid fa-user text-dark" aria-hidden="true"></h4>
            <% end %>
          </li>

           <li class="mr-4">
            <%=  link_to cart_items_path ,class: 'nav-link text-dark' do %>
            <h4 class="fa-solid fa-cart-shopping text-dark" aria-hidden="true"></h4>
            <% end %>
          </li>

          <li class="mr-4">
            <h5><%=  link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' do %>ログアウト</h5>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li>
          <li class="btn btn-outline-dark rounded-circle pt-2 pb-2 pr-3 pl-3 btn-sm ml-1 ">
            <%= link_to admin_items_path,class: 'nav-link text-dark' do %> 商品一覧
            <% end %>
          </li>

          <li class="btn btn-outline-dark rounded-circle pt-2 pb-2 pr-3 pl-3 btn-sm ml-1 ">
            <%=  link_to admin_customers_path ,class: 'nav-link text-dark' do %> 会員一覧
            <% end %>
          </li>

          <li class="btn btn-outline-dark rounded-circle p-2 btn-sm ml-1 ">
            <%=  link_to admin_path ,class: 'nav-link text-dark' do %> 注文履歴一覧
            <% end %>
          </li>
          <li class="btn btn-outline-dark rounded-circle p-2 btn-sm ml-1 ">
            <%=  link_to admin_genres_path ,class: 'nav-link text-dark' do %> ジャンル一覧
            <% end %>
          </li>
          <li class="btn btn-outline-dark rounded-circle p-2 btn-sm ml-1 ">
            <%=  link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' do %> ログアウト
            <% end %>
          </li>

        <% else %>

          <li class="btn btn-outline-light rounded-circle btn-sm ml-1 ">
            <%= link_to items_path,class: 'nav-link text-light' do %>
            <i class="fa-solid fa-rectangle-list text-light" aria-hidden="true"></i>
            商品一覧
            <% end %>
          </li>
          <li class="btn btn-outline-dark rounded-circle  ml-1">
            <%= link_to new_customer_registration_path,class: 'nav-link text-dark' do %>
            <i class="fa-solid fa-user-plus text-dark" aria-hidden="true"></i>
            新規登録
            <% end %>
          </li>
           <li class="btn btn-outline-dark rounded-circle p-2 btn-sm ml-1">
              <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
              <i class="fa-solid fa-user text-dark" aria-hidden="true"></i>
              ログイン
              <% end %>
          </li>
        <% end %>
        </ul>
      </div>

     <%= render 'layouts/search', q: @q, url: items_path %>
    </div>
  </nav>
</header>